@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar mt-4">
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">HUMAN RESOURCES</li>
                <li class="nav-item">
                    <a href="/Employee" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Employee
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Customer" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Customer
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Department" class="nav-link">
                        <i class="nav-icon fas fa-columns"></i>
                        <p>
                            Department
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>