@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<a href="Category" class="btn btn-sm btn-success">Go to Category Page</a>
<a href="User/GetUsers" class="btn btn-sm btn-success">Go to User Page</a>
<a href="Category" class="btn btn-sm btn-success">Go to Category Page</a>