@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<a href="Category" class="btn btn-sm btn-success">Go to Category Page</a>
<button class="btn btn-danger">fuck u ah van</button>